{% extends "/pages/base.html" %}
{% block content %}
    <div id="page-wrapper">
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        臭氧近日浓度变化
                    </div>
                    <div class="panel-body">
                        <div style="width:100%; height:350px" id="ozone-history-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        PM2.5近日浓度变化
                    </div>
                    <div class="panel-body">
                        <div style="width:100%; height:350px" id="pm25-history-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        臭氧云图
                    </div>
                    <div class="panel-body">
                        <div style="width:100%; height:350px" id="ozone-cloud-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        PM2.5云图
                    </div>
                    <div class="panel-body">
                        <div style="width:100%; height:350px" id="pm25-day-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Echarts JavaScripts -->
    <script src="/static/vendor/echarts/echarts.min.js"></script>
    <script src="/static/vendor/echarts/bmap.min.js"></script>
    <script src="/static/data/pm25_and_ozone_history_data.js"></script>
    <script>
        $(document).ready(function () {
            $.getJSON("/static/data/test_data.json", function (data_json) {

                var points = [].concat.apply([], data_json.map(function (track) {
                    return track.map(function (seg) {
                        return seg.coord.concat(seg.elevation);
                    });
                }));

                var myChart = echarts.init(document.getElementById('ozone-cloud-chart'));
                myChart.setOption({
                    animation: false,
                    bmap: {
                        center: [121.452365, 31.036464],
                        zoom: 18,
                        roam: true
                    },
                    visualMap: {
                        type: 'piecewise',
                        show: true,
                        top: 'top',
                        min: 0,
                        max: 100,
                        seriesIndex: 0,
                        calculable: true,
                        inRange: {
                            color: ['blue', 'blue', 'green', 'yellow', 'red']
                        }
                    },
                    series: [{
                        type: 'heatmap',
                        coordinateSystem: 'bmap',
                        data: points,
                        pointSize: 4,
                        blurSize: 2
                    }]
                });
                var bmap = myChart.getModel().getComponent('bmap').getBMap();
                bmap.addControl(new BMap.MapTypeControl());
            });
            $.getJSON("/static/data/pm25_data.json", function (data_json) {

                var points = [].concat.apply([], data_json.map(function (track) {
                    return track.map(function (seg) {
                        return seg.coord.concat(seg.elevation);
                    });
                }));

                var myChart = echarts.init(document.getElementById('pm25-day-chart'));
                myChart.setOption({
                    animation: false,
                    bmap: {
                        center: [121.452365, 31.036464],
                        zoom: 18,
                        roam: true
                    },
                    visualMap: {
                        type: 'piecewise',
                        show: true,
                        top: 'top',
                        min: 0,
                        max: 250,
                        seriesIndex: 0,
                        calculable: true,
                        inRange: {
                            color: ['blue', 'blue', 'green', 'yellow', 'red']
                        }
                    },
                    series: [{
                        type: 'heatmap',
                        coordinateSystem: 'bmap',
                        data: points,
                        pointSize: 4,
                        blurSize: 2
                    }]
                });
{#                var bmap = myChart.getModel().getComponent('bmap').getBMap();#}
{#                bmap.addControl(new BMap.MapTypeControl());#}
            })
        });
    </script>
{% endblock %}